# Type a filename to ignore it
# Type it like filename/ to ignore only a directory with that name
# Type it like !filename to exclude it from being ignored
# You cannot negate a file inside a directory: !directory/file.txt does not work
.idea/
/Front-End/src/pages/test.html
