body { font-family: Arial, sans-serif; background:#f2f2f2; }
.card { width: 400px; margin: 50px auto; background: #fff; padding: 20px; border-radius: 6px; }
label { display:block; margin-top:10px; }
input { width:100%; margin-top:3px; padding:8px; }
button { width:100%; margin-top:10px; padding:8px; }
button.secondary { background:#ddd; }
.error { color:red; font-size:12px; margin:0; }
.notif { color:royalblue; font-size:12px; margin-bottom:0; display:none; text-align:center; }
.top-buttons { display:flex; gap:5px; margin-bottom:20px; }
.contact-item { background:#eee; padding:5px; margin-top:5px; cursor:pointer; border-radius:3px; }
#emptyMessage { margin-top:10px; font-style:italic; }
.form-container{ margin-bottom:10px; background: #fff; padding: 20px; }
.text-box { width:100%; margin-top:3px; padding:8px; display:block; box-sizing:border-box; }
